
body{
    background-color: white;
    margin-left: -1px;
}

#container{
    height: 1300px;
    width: 100%;
    position: absolute;
    background-color: white;
    overflow: hidden;
    
}

#items{
    position: inherit;
    top: 33%;
    left: 20%;
    height: 80%;
    width: 150%;
}

#productIcon
{
    position: relative;
    display: block;
    float: left;
    padding-right: 100px;
    height: 100%;
}

#productIcon:hover + #btn
{
    opacity: 1;
}

#productDiv
{
    height: 150px;
    width:  1px;
    display: inline-block;
    margin-left: 240px;
    margin-top: 2%;

}

#productName
{
    width: 100px;
    display: block;
    float: left;
}



#produktmeny{
    position: inherit;
    left: 20%;
    top: 37%;
    height: 400px;
    width: 190px;
    line-height: 15px;
    background-color: white;
    font-size: 15px;
    color: gray;
    font-family: sans-serif;
}
#meny{
    position: relative;
    height: 210px;
    width: 1200px;
    top: 200px;
    left: 20%;
    overflow: hidden;
}

#menybilde{
    position: inherit;
    width: 100%;
    height: 100%;
    
}
#reminder{
    position: inherit;
    top: -1%;
    height: 15%;
    width: 100%;
    background-color: #FFAF10;
}

#reminderTxt{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    position: inherit;
    left: 15%;
    top: 8%;
}

#btn
{
    position: absolute; top: 4%;
    color: white;
    margin-left: -110px;
    height: 26px;
    width: 40px;
    background-color: #FFA510;
    border: none;
    border-radius: 5px;
    opacity: 0;
}

#btn:hover
{
    opacity: 1;
}

#pris
{
    position: inherit; right: -150px;
}

#prisDiv
{
    position: inherit; top: 20%;
    margin-left: -5%;
    display: inline-block;
}

#finnFrem
{
    position: inherit; bottom: 76%; left: 20%;
    font-size: 18px;
    color: gray;
    font-family: sans-serif;
}

#dineTilbud
{
    position: inherit; bottom: 76%; left: 33%;
    font-size: 18px;
    color: gray;
    font-family: sans-serif;
}

//*Protip:{ border: 1px solid red; }