

body{
    background-color: white;
    margin-left: -1px;
}

#container{
    height: 1300px;
    width: 100%;
    position: inherit;
    background-color: white;
    overflow: hidden;
    
}

#items{
    position: inherit;
    top: 10px;
    left: 20%;
    height: 80%;
    width: 55%;
}

#productIcon
{
    position: inherit;
    display: block;
    float: left;
    padding-right: 10px;
    max-width: 100%;
    max-height: 100%;
}

#productIcon:hover + #btn
{
    opacity: 1;
}

#productDiv
{
    height: 150px;
    width:  150px;
    display: inline-block;
    margin-left: 40px;
    margin-right:10px;
    position: relative;
    bottom: 400px;
    left: 600px;
    border-shadow: 2px;
}

#productName
{
    width: 100px;
    display: block;
    float: left;
}



#produktmeny{
    position: inherit;
    margin-left: 380px;
    margin-top: 150px;
    height: 400px;
    width: 190px;
    line-height: 15px;
    background-color: white;
    font-size: 15px;
    color: gray;
    font-family: sans-serif;
}
#meny{
    position: relative;
    height: 210px;
    width: 1200px;
    top: 70px;
    left: 20%;
    overflow: hidden;
}

#menybilde{
    position: inherit;
    width: 100%;
    height: 100%;
    
}
#reminder{
    position: inherit;
    margin-left: -20px;
    margin-right: -10px;
    height: 15%;
    width: 120%;
    background-color: #FFAF10;

}

#reminderTxt{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative; left: 20%; top: 15%;
}

#btn
{
    position: absolute; top: 4%;
    color: white;
    margin-left: -10%;
    height: 26px;
    width: 40px;
    background-color: #FFA510;
    border: none;
    border-radius: 5px;
    opacity: 0;
}

#btn:hover
{
    opacity: 1;
}

#pris
{
    position: inherit;
    font-size: 15px;
    color: gray;
    font-family: sans-serif;

}

#prisDiv
{
    position: inherit;
    display: inline-block;
    top:13% ;
    right:-30%;
}

#finnFrem
{
    position: absolute; top: 600px; left: 636px;
    font-size: 11px;
    color: gray;
    font-family: sans-serif;
}

#dineTilbud
{
    position: absolute; top: 600px; left: 377px;
    font-size: 11px;
    color: gray;
    font-family: sans-serif;
}
